html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.stats-item {
  font-size: 10px;
}
.stats-item:not(:last-child) {
  margin-right: 10px;
}
.stats {
  display: flex;
}
.search-form {
  margin-bottom: 20px;
}
.gallery-item {
  list-style: none;
}
